@charset "utf-8";
/* CSS Document */

* {
	margin: 0;
	padding: 0;	
}

#wrapper {
	width: 955px;
	height: 600px;
	background-color: #FFF7C9;
	margin: 10px auto auto auto;
}

header {
	width: 955px;
	height: 125px;
	background-color: #8D91A3;
}

#logo {
	margin: 12px 0px 0px 427px;	
}